<div id="<%= dom_id barber_shop %>">
  <p>
    <strong>Name:</strong>
    <%= barber_shop.name %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= barber_shop.document %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= barber_shop.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= barber_shop.city %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= barber_shop.phone %>
  </p>

</div>
