<div id="<%= dom_id schedule %>">
  <p>
    <strong>Weekday:</strong>
    <%= schedule.weekday %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= schedule.end_time %>
  </p>

  <p>
    <strong>Barber:</strong>
    <%= schedule.barber_id %>
  </p>

</div>
