<div id="<%= dom_id appointment %>">
  <p>
    <strong>Barber:</strong>
    <%= appointment.barber_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service_id %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= appointment.customer_name %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= appointment.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= appointment.end_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

</div>
